@import '../../global.scss';

.wrapper {
	text-align: center;
    .warnButton {
    	display: inline-block;
    	text-decoration: none;
        padding: 0.45rem;
        font-size: var(--font-size-normal);
        font-weight: var(--font-weight-semi-mid);
        text-align: center;
        cursor: pointer;

        background: #313339;
        border: 2px solid #313339;
        border-radius: 1.3rem;
        color: white;
        opacity: 0.6;
        min-width: 90px;
        margin: 0 10px;
        margin-top: 20px;
        
        &:hover {
            color: black;
            background: transparent;
            border: 2px solid black;
            opacity: 0.5;
        }
    }

    .warnRed {
        &:hover {
            color: #FF0000;
            border: 2px solid #FF0000;
            opacity: 1 !important;
        }
    }

    .redText {
	    color: red;
    }

    .warnMsg {
    	font-size: 18px;
    }
}
