[Unit]
Description=BeamUp Panel Node.js app
After=network.target

[Service]
Type=simple
User=dokku
WorkingDirectory=/opt/beamup-panel
ExecStart=/usr/bin/node server/index.js
Restart=on-failure
RestartSec=60
Environment="SESSIONS_FOLDER=/opt/beamup-panel/sessions/"

[Install]
WantedBy=multi-user.target
